<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nihil, nesciunt nobis quam facere doloribus harum repellendus provident reprehenderit esse sapiente maiores sint in alias sequi, distinctio ad, dicta quisquam?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta recusandae adipisci deserunt perferendis, omnis tenetur cupiditate! Molestiae cumque praesentium rem sint molestias provident eum nemo architecto ullam cupiditate! Eveniet.
</p>